exportClasses (CytoscapeWindowClass, CytoscapeConnectionClass)

exportMethods (
   destroyWindow,
   destroyAllWindows,
   displayGraph,
   firstNeighbors,
   getArrowShapes,
   getLayoutNames,
   getLineStyles,
   getNodeShapes,
   getAttributeClassNames,
   getWindowCount,
   getWindowID,
   getWindowList,
   layout,
   setPosition,
   ping,
   redraw,
   sendNodes,
   sendEdges,
   sendNodeAttributes,
   sendNodeAttributesDirect,
   sendEdgeAttributes,
   sendEdgeAttributesDirect,
   addGraphToGraph,
   dockPanel,
   floatPanel,
   hidePanel,
   setDefaultNodeShape,
   setDefaultNodeColor,
   setDefaultNodeSize,
   setDefaultNodeColor,
   setDefaultNodeBorderColor,
   setDefaultNodeBorderWidth,
   setDefaultNodeFontSize,
   setDefaultNodeLabelColor,
   setDefaultEdgeLineWidth,
   setDefaultEdgeColor,
   setNodeTooltipRule,
   setEdgeTooltipRule,
   setNodeLabelRule,
   setNodeColorRule,
   setNodeBorderColorRule,
   setNodeShapeRule,
   setNodeSizeRule,
   setEdgeLineStyleRule,
   setEdgeTargetArrowRule,
   setEdgeSourceArrowRule,
   setEdgeTargetArrowColorRule,
   setEdgeSourceArrowColorRule,
   setEdgeColorRule,
   getNodeCount,
   getEdgeCount,
   getAllNodes,
   getAllEdges,
   clearSelection,
   selectNodes,
   getSelectedNodes,
   getSelectedNodeCount,
   cy.sfn,
   getGraph,
   setGraph,
   hideSelectedNodes,
   unhideAll,
   version,
   msg,
   clearMsg,
   getGraphFromCyWindow
   )

export(
   CytoscapeConnection,
   new.CytoscapeWindow,
   CytoscapeWindow,
   existing.CytoscapeWindow,
   noa.names,
   noa,
   eda.names,
   eda,
   cy2.edge.names,
   makeSimpleGraph,
   makeRandomGraph,
   initNodeAttribute,
   initEdgeAttribute

   )

importClassesFrom(graph, graph)

importClassesFrom(methods, character, integer)

importMethodsFrom(graph, edgeData, "edgeData<-", edgeDataDefaults,
                 "edgeDataDefaults<-", edgeNames, edges, inEdges,
                 nodeData, "nodeData<-", nodeDataDefaults,
                 "nodeDataDefaults<-", nodes)

importFrom(methods, "@<-", new)

importFrom(XMLRPC, xml.rpc)

